@{ 
    ViewBag.Title = "Configuração do Metrônomo";
}
<div id="conteudo_metronomo" >
    <section id="metronomo_configuracao">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="metronomo_play">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div id="cabecalho_grid" class="row">

                    </div>
                    <div class="row">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>
                                        <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

